@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    background-color: #F3F7FA;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.page {
    padding: 50px 0;

    .page-content {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        max-width: 900px;
    }
}

aside {
    margin-right: 20px;
    width: 100%;
    max-width: 232px;
    min-width: 150px;
    align-items: flex-start;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    .filterShowButton {
        display: none;
    }
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    align-items: flex-start;
}

.logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;

    svg {
        width: 60px;
        height: 60px;
    }
}



.primary {
    background: #2196F3;
    border: 0;
    height: 50px;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    /* Primary Colors/White */

    color: #FFFFFF;
}
@media screen and (max-width: 920px) {
    .page .page-content {
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
        max-width: unset;
    }
}
@media screen and (max-width: 670px) {
    .page {
        padding: 20px 0;

        padding-bottom: 90px;
        .logo {
            margin-bottom: 20px;
        }
        .page-content {
            margin: 0 10px;
        }
    }
    aside {
        position: fixed;
        bottom: 20px;

        .filterShowButton {
            display: flex;
        }
        .block {
            display: none;
        }
    }
    aside.active {
        width: 100vw;
        height: 100vh;
        max-width: unset;
        margin-right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.24);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .filterShowButton {
            margin-bottom: 20px;
            width: 100%;
            max-width: 400px;
        }
        .block {
            display: block;
            max-width: 400px;
        }
    }
}

